{% block head %}
    {% include "includes/head.njk" %}
{% endblock %}

{% block pageTitle %}
    <title>My Library</title>
{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}
    {% include "includes/scripts.njk" %}
{% endblock %}