{% extends 'layout.njk' %}

{% block pageTitle %}
    <title>{{ book.title }}</title>
{% endblock %}

{% block content %}
<section class='hero'>
        <a href='/add-new' class='navButton' role="button">+</a>
    <div class='hero__title'>
        <h1>Library.</h1>
    </div>
</section>
<main class='mainContent'>
    <ul class='mainContent__list'>
    {% for book in books %}
        <li class='mainContent__list mainContent__list--title'><a href='/info/{{ book.id }}'>{{ book.title }}</a></li>
        <p class='mainContent__list mainContent__list--author'>{{ book.author }}</p>
    {% endfor %}
    </ul>
    <a href='/p={{ p - 1 }}' class=''><<</a>
    <p>{{ p }}</p>
    <a href='/p={{ p + 1 }}' class=''>>></a>
</main>
{% endblock %}
